{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
<h1>Available Applications</h1>
{% if !apps.is_empty() %}
<ul>
    {% for app in apps %}
    <li>
        <strong>{{ app.name }}</strong>
        <p>{{ app.description }}</p>
        {% if app.price.is_some() %}
        <p>Price: ${{ app.price.as_ref().unwrap() }}</p>
        {% endif %}
        {% if app.tags.is_some() %}
        <p>Tag: {{ app.tags.as_ref().unwrap() }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No applications found.</p>
{% endif %}
{% endblock %}