{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<h1>Sign in</h1>
{% if let Some(msg) = error %}
<div class="flash-messages">
    <div class="flash-message">{{ msg }}</div>
</div>
{% endif %}
<form method="post" action="{{ base_url }}/login">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required autofocus>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Submit</button>
</form>
{% endblock %}
